.user-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .image-buttons {
        position: absolute;
        right: 10px;
        bottom: 10px;
    }

    .user-image {
        border-radius: 15%;
        border: 0.1rem solid lightgray;
        width: 250px;
        height: 250px;
        object-fit: cover;
        margin-top: 20px;
    }
}
